{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}
{% block title1 %} Dashboard {% endblock %}
{% block content %}



<div class="container-fluid" style="padding: 20px;">


    <div class="row row-cols-1 row-cols-lg-2 g-1 g-lg-3">
        <div class="col">
            <div class="card-rounded bg-light p-5">
                <p style="text-align: justify;"> I’m Deoff Torrado and I have learned many things on python such us thinking critically by solving an specific problems through the execution of different syntax of python. Though they say that python is one of the easiest programming languages to learn but for me when it comes to thinking critically I’m not that good. I will say that I can understand the use of specific functions but when it comes to applying into real problem scenarios, I cannot execute it quickly unlike my other classmates python is seems easy for them.</p>
                <p style="text-align: justify;">It's important to acknowledge that proficiency in Python, like any programming language, goes beyond surface-level comprehension. It's not just about understanding the syntax; it's about developing the ability to analyze problems critically. With guidance from our professor, Sir Denver, and support from classmates, I'm learning Python slow progress but continuously. This journey emphasizes the iterative nature of learning, recognizing that every programming language, no matter its perceived difficulty, requires a gradual understanding of its process.</p>
                <p style="text-align: justify;">As I navigate the world of Python, I'm not only learning to write code but also developing a problem-solving mindset. This experience, though challenging, is enriching my understanding of Python and strengthening my foundation in the dynamic field of programming. It's teaching me to approach challenges with a logical mindset, appreciate the beauty of the programming process, and adapt to the evolving landscape of technology. In essence, my journey with Python is not just about coding; it's about embracing the mindset of a problem-solver and appreciating the transformative power of programming in today's tech-driven world.</p>

            </div>
        </div>
        <div class="col">
            <div class="card-rounded bg-light p-5">
                <p style="text-align: justify;">I'm Chrissha Balbin, and my Python learning journey has been a mix of understanding syntax and navigating the challenges of critical thinking. While Python is often touted as an easy language to grasp, I've found that applying it to real-world problems requires a deeper level of analysis. Lists, serving as versatile containers, allowed me to store and manage collections of data efficiently. Sets, tuples, and dictionaries, each with its unique properties, added depth to my understanding of data organization and retrieval. Sets provided a mechanism for handling distinct elements, tuples offered immutable sequences, and dictionaries facilitated the association of keys with values, enabling streamlined data access.</p>
                <p style="text-align: justify;">The incorporation of functions, both built-in and user-defined, introduced a modular approach to programming. Understanding the significance of functions not only enhanced code readability but also promoted code reuse and maintainability.Handling errors and exceptions in Python is made easier with the use of try, except, and finally blocks. These allow for a more organized approach to dealing with potential issues in the code.</p>
                <p style="text-align: justify;"> Python's capability to import and use modules enhances its functionality. This feature enables the extension of Python's built-in capabilities, making it a versatile language for various tasks.The exploration of file operations, encompassing the opening, reading, and writing of files, empowered me to interact with external data sources seamlessly. Lastly, the concept of recursion, with its elegant and concise nature, introduced a powerful tool for problem-solving. </p>
                <p style="text-align: justify;">Regarding the subject of Elective 3, effective listening is crucial when working with Python code, as it can sometimes be complex. Following instructions carefully, whether through listening or reading, can significantly impact one's coding scores. Additionally, proper file naming is essential, as it not only contributes to code clarity but also affects the overall assessment scores. Being attentive to details and adhering to naming conventions can make a difference in the quality and evaluation of Python code.</p>
            </div>
        </div>
</div>

</div>

{% endblock %}